VITE_SITE_URL=https://www.catalinsiegling.com
VITE_PLAUSIBLE_DOMAIN=yourdomain.com
VITE_PLAUSIBLE_SRC=https://plausible.io/js/script.js
VITE_FORMSPREE_ENDPOINT=https://formspree.io/f/your-form-id
VITE_BOT_WS_URL=wss://web-production-a6a95.up.railway.app/live-updates
VITE_BOT_URL=https://web-production-a6a95.up.railway.app
